@page
@model SnowProfileScanner.Pages.HomeModel


<div id="tabContent">
    <div id="loadingSpinner" style="display:none;">

        <div class="spinner"></div> <!-- You can replace this with your loading spinner HTML/CSS -->
    </div>
</div>
