@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@using Microsoft.AspNetCore.Http
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div id="loadingSpinner" style="display:none;">
    
    <div class="spinner"></div> <!-- You can replace this with your loading spinner HTML/CSS -->
</div>

<form id="uploadForm" method="post" enctype="multipart/form-data" action="/Upload/Upload">
    <div class="form-group">
        <label for="nameInput">Navn:</label>
        <input type="text" class="form-control" id="nameInput" name="name" required>
    </div>
    <div class="form-group">
        <label for="fileInput">Last opp bilde:</label>
        <br />
        <input type="file" class="form-control" id="fileInput" name="file" accept=".jpg, .jpeg, .png" required>
    </div>
    @if(Model._useCaptcha)
    {
        <br />
        <div class="form-group">
            <div class="g-recaptcha" data-sitekey="6Ldu-q0oAAAAAEieJdQ-UuJlRk1XMlbVvhkkJUPi"></div>
        </div>
    }
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    // jQuery code to show/hide loading spinner
    $(document).ready(function () {
        $("#uploadForm").submit(function () {
            $("#loadingSpinner").show(); // Show loading spinner when form is submitted
        });
    });
</script>
